.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #f9f3f3, #ffe4e6);
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form-input{
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid black;
  border-radius: 12px;

}

.user-icon-small{
  margin-left: 10px;
}

.lock-icon-small{
  margin-left: 10px;
}


.login-form h2 {
  text-align: center;
  color: #ff69b4;
  margin-bottom: 1rem;
}

.login-form input {
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: white;
  outline: none;
}

.sumit-btn {
  padding: 12px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sumit-btn:hover {
  background-color: #ff4c9b;
}

.switch-auth {
  text-align: center;
  margin-top: 1rem;
}

.switch-auth a {
  color: #ff69b4;
  text-decoration: none;
}

.switch-auth a:hover {
  color: #ff4c9b;
}

.switch-to-reg{
  width: 1em;
  background-color: white;
  color: #ff4c9b;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

