.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photos{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.photos img{
    height: 350px;
    width: 300px;
}

.discription{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discription h1, p{
    text-align: center;

}
.discription p{
    font-size: 18px;
}

.photos img{
    box-shadow: 5px 5px 10px black;
}

.to-recomend{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.to-expert{
    background: #c1b69c;
    border: 2px solid black;
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 1px black;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.question{
    height: 1em;
    margin-bottom: 20px;
}

{

}
