h2 {
    color: black;
    font-size: 28px;
}

.my-plants-container {
    padding: 20px;
}

.my-plants {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
}

.plant-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.my-plant-card {
    width: 300px;
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.my-plant-card img {
    width: 280px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.card-buttons {
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.add-plant-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;


}

.add-plant-section input, button{
    border-radius: 10px;
    border: 1px solid  black;
}

.add-plant-button{
    background-color: #caa6f4;
    font-weight: bold;
    margin-left: 10px;
}

.action-plant-button{
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    background: white;
    border-radius: 10px;
    cursor: pointer;

}






