.plant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    margin: 0;
    margin-top: 10px;
    height: 75px;
}

.icons {
    display: flex;
    gap: 10px;
}

.icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: #d17dbf;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.plant-card-recomend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.plant-card-recomend img{
    border-radius: 10px;
}

ul {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    height: 150px;
}

li{
    list-style-type: none;
    width: 201px;
}
