.selection-page {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}


.form-container {
  flex: 1;
}

.results-container {
  flex: 2;
}

.selection-page-title{
  text-align: center;
  margin: 0;
  color: #3a2f6e;

}


.results-container.full-width {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
